* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  font-family: Graphik, Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}